## Sven Co-op Map CFG file - HLSP Series Maps 
## Map By: Valve Software
## Edited By: Mikk


globalmodellist ../../maps/ofhl_globalmodel.gmr


map_script hlsp_ofhl
mp_survival_supported 1
mp_survival_nextmap HCL_C06_AB3

weapon_punch
weapon_eagle
weapon_crowbar
weapon_hornetgun
weapon_grapple
weapon_ofshockrifle
weapon_9mmAR
weapon_pipewrench
weapon_shotgun
weapon_9mmhandgun
weapon_357
nomedkit
ammo_9mm 5
ammo_buckshot 4

mp_weapon_respawndelay -1
mp_ammo_respawndelay -1
mp_item_respawndelay 200


mp_npckill 2
weaponmode_displacer 1
weaponmode_rpg 0
weaponmode_crossbow 1
weaponmode_eagle 0
weaponmode_357 1
npc_dropweapons 1
mp_disable_pcbalancing 0
mp_pcbalancing_factorlist "1.0;1.0;0.9;0.9;0.8;0.8;0.7;0.7;0.7;0.6;0.6"
mp_respawndelay 5
mp_dropweapons 0
mp_barnacle_paralyze 0
mp_disable_player_rappel 0
mp_allowmonsterinfo 1
sv_ai_enemy_detection_mode 1
mp_disablegaussjump 0
mp_monsterpoints 1
mp_fraglimit 0
mp_flashlight 1
mp_falldamage 1
mp_forcerespawn 0
mp_weaponstay 0
sv_accelerate 10
sv_airaccelerate 10
sv_friction 8
sv_gravity 800
sv_maxspeed 290
sv_wateraccelerate 10
sv_waterfriction 1
mp_disable_autoclimb 1
mp_multiplespawn 1
mp_telefrag 0
mp_hevsuit_voice 1