sentence_file sound/bshift/sentences.txt
## SvenCo-op map CFG file - HL Blue Shift Map 
## Map By: Valve Software

mp_nextmap_cycle "choose_campaign_v4"

globalmodellist ../../maps/ba_global.gmr
##globalsoundlist ../../maps/ba_global.gsr

mp_weapon_respawndelay -2
mp_ammo_respawndelay -1
mp_item_respawndelay -1
mp_allowmonsterinfo 0

plrstart_zoffset 0


skill 2
mp_radiovoice 1
mp_npckill 0
mp_monsterpoints 1
mp_fraglimit 0
mp_flashlight 1
mp_falldamage 1
mp_forcerespawn 0
mp_weaponstay 1
sv_accelerate 10
sv_airaccelerate 7
sv_gravity 800
sv_maxspeed 260
sv_wateraccelerate 10
sv_waterfriction 1
mp_multiplespawn 1
npc_dropweapons 0
mp_dropweapons 0
mp_disable_medkit_points 0
mp_disable_pcbalancing 0
mp_pcbalancing_factorlist "1.2;1.1;1.0;0.95;0.9;0.8;0.8;0.7"
mp_disable_autoclimb 0
mp_noblastgibs 0
sv_ai_enemy_detection_mode 1

nomedkit
weapon_ins2m16a4
weapon_ins2m1014
weapon_ins2kukri
weapon_ins2glock17

map_script INS2_coop
mp_survival_supported 1

nomaptrans ins2_ba_yard4
mp_survival_nextmap ins2_ba_teleport1
