## Do not touch
## mikk: touched.
mp_survival_supported 1
mp_weapon_respawndelay 120
mp_ammo_respawndelay 120
mp_item_respawndelay 10
mp_allowmonsterinfo 1
weapon_medkit
mp_disable_autoclimb 0
skill 1
mp_fraglimit 0
mp_flashlight 0
mp_falldamage 1
mp_forcerespawn 0
mp_weaponstay 1
mp_telefrag 0
killnpc 1
sv_airaccelerate 100
sv_airmove 1
sv_gravity 800
sv_maxspeed 285
sv_wateraccelerate 10
sv_waterfriction 1
globalmodellist ../../maps/io_v1.gmr
globalsoundlist ../../maps/io_v1.gsr
map_script IO_ins2