# TimeStamp:		02:27 July 08, 2001
# File created by:	Admin
# Important parameters:
SND_MAX;		20
SND_MAX_DUR;		180.0
SND_WARN;		17
SND_JOIN;		misc/hibabe.wav;misc/hi.wav;misc/himan.wav
SND_EXIT;		misc/comeagain.wav;misc/goodbye.wav;misc/beback.wav;misc/bye_love.wav;misc/gtg.wav
SND_DELAY;		0.0
SND_MODE;		15
EXACT_MATCH;		1
ADMINS_ONLY;		0
DISPLAY_KEYWORDS;	1


# Word/Wav combinations:
mmm;			sound/otis/mmmm.wav
noreg;			sound/gman/gman_noreg.wav
cp;			sound/vox/checkpoint.wav
adios;			sound/vox/adios.wav
run;			sound/hunger/thambs/runmanrun.wav
ass!			sound/hgrunt/ass!.wav
ass;			sound/hgrunt/ass.wav
staph;			sound/scientist/sci_pain3.wav
ded;			sound/otis/another.wav
yes;			sound/scientist/yees.wav
rip;			sound/otis/of1a5_ot01.wav
haha;			sound/svencoop2/weirdlaugh1.wav
medic;			sound/tfc/speech/saveme2.wav
choose;			sound/gman/gman_choose2.wav
nice;			sound/vox/nice.wav
#latam;			sound/mikk/sank/latam.wav
#banana;			sound/mikk/sank/banana.wav
#bhop;			sound/mikk/sank/bhop.wav
#carrot;			sound/mikk/sank/carrot.wav
#chiste;			sound/mikk/sank/chiste.wav
#continued;		sound/mikk/sank/continue.wav
#damn;			sound/mikk/sank/damnn.wav
#dmg;			sound/mikk/sank/dmg.wav
#coño;			sound/mikk/sank/dross.wav
#gib;			sound/mikk/sank/gib.wav
#hello;			sound/mikk/sank/hellouda.wav
#hola;			sound/mikk/sank/hola.wav
#knock;			sound/mikk/sank/knock.wav
#l8r;			sound/mikk/sank/l8r.wav
#law;			sound/mikk/sank/law.wav
#letmein;		sound/mikk/sank/lemmein.wav
#lift;			sound/mikk/sank/lift.wav
#macizo;			sound/mikk/sank/macizo.wav
#muted;			sound/mikk/sank/muted.wav
#oof;			sound/mikk/sank/oof.wav
#orange;			sound/mikk/sank/orange.wav
#party;			sound/mikk/sank/party.wav
#perfect;		sound/mikk/sank/perfect.wav
#win;			sound/mikk/sank/win.wav
#sape;			sound/mikk/sank/sape.wav
#win2;			sound/mikk/sank/scaped.wav
#killbill;		sound/mikk/sank/siren.wav